{% extends "base.html" %}
{% load i18n static %}

{% block title %}
  {% trans "Add Martyr" %} | {% trans "Martyrs" %}
{% endblock title %}

{% block extraheader %}
  <link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
{% endblock extraheader %}

{% block body %}
  <h2>{% blocktrans %}
      Do you know a #Jan25 Martyr?
      Tell us about hime
  {% endblocktrans %}</h2>
  {% include "martyrs/form.html" %}
{% endblock body %}

{% block footerjs %}
  <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#id_birth_date').datepicker({format: 'yyyy-mm-dd', weekStart: -1});
      $('#id_death_date').datepicker({format: 'yyyy-mm-dd', weekStart: -1});
    })
  </script>
{% endblock footerjs %}
