{% extends "base.html" %}
{% load i18n %}

{% block body %}
  {% blocktrans with name=martyr.name %}
      Are you sure you want to delete {{ name }}?
  {% endblocktrans %}
  <form method="POST" action=".">{% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
      </div>
    </div>

  </form>
{% endblock body %}
