{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Martyr" %} {{ martyr.name }} | {% trans "Martyrs" %}
{% endblock title %}

{% block body %}
    {% include "martyrs/martyr.html" %}

  {% if user.is_authenticated %}
    <a class="btn btn-primary" id="backBtn" href="{% url "martyrs:list" %}">{% trans "Back" %}</a>
    <a class="btn btn-warning" id="backBtn" href="{% url "martyrs:update" pk=martyr.pk %}">{% trans "Update" %}</a>
    <a class="btn btn-danger" id="backBtn" href="{% url "martyrs:delete" pk=martyr.pk %}">{% trans "Delete" %}</a>
  {% endif %}
{% endblock body %}
