{% load widget_tweaks i18n %}

<form action="." method="POST" class="form-horizontal">{% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-10">
        {% render_field field class="form-control" placeholder=field.label %}
      </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </div>
  </div>
</form>
