{% load i18n %}
<div class="row">
  <br>
  <div class="col-md-12">
    <h3><a href="{% url "martyrs:detail" pk=martyr.pk %}">{{ martyr.name }}</a></h3>
    <div class="row">
      <div class="martyr-detail col-xs-9">
        <p>{% trans "Birth Date" %}: {{ martyr.birth_date }}</p>
        <p>{% trans "Death Date" %}: {{ martyr.death_date }}</p>
        <p>{% trans "Cause of Death" %}: {{ martyr.death_cause }}</p>
        <p>{% trans "Officer's Name" %}: {{ martyr.officer_name }}</p>
        <p>{% trans "Governorate" %}: {{ martyr.governorate }}</p>
      </div>
    </div>
  </div>
</div>
