{% extends "base.html" %}
{% load i18n static %}

{% block title %}
  {% blocktrans with name=martyr.name %}
      Update {{ name }} Profile.
  {% endblocktrans %} | {% trans "Martyrs" %}
{% endblock title %}

{% block extraheader %}
  <link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
{% endblock extraheader %}

{% block body %}
  <h2>{% blocktrans with name=martyr.name %}
      Update {{ name }} Profile.
  {% endblocktrans %}</h2>
  {% include "martyrs/form.html" %}
{% endblock body %}

{% block footerjs %}
  <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#id_birth_date').datepicker({format: 'yyyy-mm-dd', weekStart: 6});
      $('#id_death_date').datepicker({format: 'yyyy-mm-dd', weekStart: 6});
    })
  </script>
{% endblock footerjs %}
